/* ========== */
/* main rules */
/* ========== */

/* base */

body {
    font-family: sans-serif;
    background: #D8D6D9;
    color: #1F2B27;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    color: #1F2B27;
}

.button:focus {outline: 0;}

.centerText {
    text-align: center;
}

/* grid classes */

.fourCol,
.threeCol,
.twoCol,
.onecol {
    margin: 0;
    float: left;
}

.fourCol {
    width: 100%;
}

.threeCol {
    width: 75%;
}

.twoCol {
    width: 50%;
}

.onecol {
    width: 25%;
}

.nofloat {
    float: none;
}

/* page elements classes */

.wrapper {
    background: url(../images/background.jpg) 0px 0px no-repeat;
    width: 810px;
    height: 1100px;
}

.heading {
    margin-bottom: 40px;
    line-height: 1em;
    font-size: 39pt;
    font-family: Garamond;
    font-weight: lighter;
    color: #a56c77;
}

.header h1 {
    display: none;
}

.claimHeader {
    padding: 70px 0px 0px 0px;
    text-align: center;
}

.text {
    font-family: Garamond;
    font-size: 1.1em;
    text-align: center;
    color: #4d4d4d;
    font-weight: lighter;

}


.textfeld {
    position: absolute;
}

.content {
    width: 90%;
    margin: 20px 5%;
}

.content .fullText {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 25px;
}

.content .bookClaim {
    float: left;
    margin-left: 90px;
}

.content .bookCover {
    float: right;
    margin-bottom: 30px;
}

.ibook {
    margin-left: -37%;
    margin-top: -64%;
    margin-bottom: 10%;
}

.content .bookCover img {
    width: 100%;
}

.buchinfo {
    color: #991512;
}

.content .bookCover .textDetails {
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.2em;
}

.impressum {
    width: 770px;
    padding: 5px 20px 0px 20px;
    margin: 0px;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1.2em;
    background: none; 
}

#teilnahme {
    text-decoration:underline;
    color:black;
    cursor: pointer;
    float: left;
    width: 810px;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#teilnahmebox {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 300;
    opacity: 0.85;
    color: white;
    font-size: 90%;
    font-weight: normal;
    padding: 10px 20px;
    width: 770px;
    display: none;
    background: black;
}

#teilnahmebox a:link,
#teilnahmebox a:visited {
    color: #fff;
}

#teilnahmebox .close {
    display: block;
    border: 1px solid #000;
    padding: 3px 5px;
    border-radius: 5px;
    background: #e5e5e5;
    color: #222;
    font-weight: bolder;
    cursor: pointer;
    float: right;
}


/* buttons */

.button,
a.button {
    border: 0px;
    font-size: 1.3em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    width: auto;
    text-align: center;
    font-weight: bolder;
    padding: 3px 10px;
    cursor: pointer;
}

.button.hoerprobe {
    background: url(../images/button_hoerprobe.png) 0px 0px no-repeat;
    width: 280px;
    height: 35px;
    overflow: hidden;
    padding-top: 30px;
    float: left;
    margin-left: 20px;
}

.button.hoerbuch {
    background: url(../images/button_hoerbuch.png) 0px 0px no-repeat;
    width: 145px;
    height: 0px;
    overflow: hidden;
    padding-top: 30px;
    float: left;
    margin-left: 140px;
}

.button.download {
    background: url(../images/button_download.png) 0px 0px no-repeat;
    width: 175px;
    height: 0px;
    overflow: hidden;
    padding-top: 30px;
    float: left;
}

.button.leseprobe {
    background: url(../images/button_leseprobe.png) 0px 0px no-repeat;
    width: 280px;
    height: 35px;
    overflow: hidden;
    padding-top: 30px;
    float: right;
    margin-left: 20px;
}

.button.buch {
    background: url(../images/button_buch.png) 0px 0px no-repeat;
    width: 180px;
    height: 35px;
    overflow: hidden;
    padding-top: 40px;
    float: left;
    margin-left: 20px;
}

.button.ebook {
    background: url(../images/button_ebook.png) 0px 0px no-repeat;
    top: 455px;
    left: 650px;
    width: 110px;
    height: 90px;
    overflow: hidden;
    line-height: 12em;
}

.button.leseproben {
    background: url(../images/button_leseprobe.png) 0px 0px no-repeat;
    float: right;
    margin-right: 0px;
    overflow: hidden;
    line-height: 6em;
    height: 35px;
    width: 208px;
}

.button.kaufen {
    background: url(../images/button_kaufen.png) 0px 0px no-repeat;
    float: right;
    margin-right: 40px;
    height: 40px;
    width: 155px;
    overflow: hidden;
    line-height: 6em;
}

.button.teilen {
    background: url(../images/button_share.png) 0px 0px no-repeat;
}

.sharebtn {
    width: 20% !important;
    float: left;
    padding: 3px 5% !important;
    margin-top: 20px;
}

.book.button {
    background: none;
    overflow: hidden;
    padding-top: 120px;
    position: absolute;
    top: 280px;
    left: 490px;
    width: 120px;
    height: 120px;
}

.machmit.button {
    background: url(../images/button_machmit.png)  0px 0px no-repeat;
    overflow: hidden;
    height: 33px;
    width: 170px;
    line-height: 5em;
    margin-top: 20px;
}

/* Pages related rules */

.page-book .heading {
    margin-bottom: 40px;
}

.page-book .bookDetails {
	margin: 135px auto auto 13px;
}

.page-book .bookDetails .highlight {
    color: #991512;
    width: 96%;
    padding: 5px 2%;
    border-radius: 5px;
} 

.page-book .bookDetails .highlight a:link,
.page-book .bookDetails .highlight a:visited {
    color: #991512;
}

.page-book .bookCover {
	margin-left: 15px;
}

.page-book .appNavigator {
    width: 100%;
    float: left;
}

.page-book .textColumn {
    
}


/* #Media Queries
================================================== */
        
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

    #teilnahmebox {
        width: 90%;
        padding: 5px 5%;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 825px) {
    
    html {
        background: #fff;
    }
    
    .wrapper,
    #teilnahme {
        width: 100%;
        margin: 0;
        background-position: 50% 0px;
    }
    
    .impressum {
        float: left;
        width: 90%;
        padding: 5px 5%;
        background: #fff;
    }
    
    .book.button {
        position: absolute;
        left: 52%;
        top: 90px;
        width: 35%;
        height: 340px;
        line-height: 30em;
        opacity: 0.5;
    }
    
    .button.trailer {
        top: 445px;
        left: 80%;
        overflow: hidden;
        line-height: 20em;
        height: 150px;
    }
    
    .ibook {
        margin-left: -37%;
        margin-top: -64%;
        margin-bottom: 10%;
    }

    .button.kaufen {
        margin-right: 0px;
    }
    
    .content .bookCover,
    .content .bookClaim {
        width: 40%;
        margin-top: 40px;
}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .wrapper{
        width: 100%;
    }
    
    .button.teilen {
    display: none;
}
    
    .button.gewinnspiel {
    float: right;
    width: 100% !important;
    margin-left: 0px;
}
    
    .book.button {
        height: 280px;
    }

    .ibook {
        display: none;
    }
    
    .content {
        margin-top: 20px !important;
    }
    
    .win {
        width: 100%;
        font-size: 0.9em;
    }
    
    .page-book .textColumn {
        width: 41%;
    
        font-weight: normal;
}
    
    .button.backToHome {
        margin-left: -20px;
    }
    
    
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .wrapper {
        background: #e0f0f0; /* Old browsers */
        background: -moz-linear-gradient(top,  #e0f0f0 0%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f0f0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e0f0f0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e0f0f0 0%,#ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e0f0f0 0%,#ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e0f0f0 0%,#ffffff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f0f0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    .page-quiz .bookCover {
        display: none;
    }

   .ibook {
        display: none;
    }

    .page-quiz .wrapper {
        width: 100%;
    }

    .page-finalpage .content {
        margin-top: 20px;
    }

    .page-finalpage .content .twoCol {
        width: 50%;
        float: left;
    }

    .page-finalpage .content .rightCol {
        width: 30%;
        float: right;
    }

    .page-finalpage .content .rightCol .bookCover {
        width: 100%;
        margin: 50px 20px auto auto;
    }

    .fourCol,
    .threeCol,
    .twoCol,
    .onecol {
        width: 90%;
        margin: 0px 5%;
    }

    #teilnahme {
        float: left;
        clear: both;
        width: 100%;
    }
    
    .button.trailer {
        top: 425px;
        left: 74%;
        overflow: hidden;
        line-height: 20em;
        height: 150px;
    
}

}
@media only screen and (min-width: 481px) and (max-width: 675px) {
    .page-book .appNavigator {
        width: 45%;
    }
    
    .page-book .appNavigator .button {
        float: left;
        margin-left: 0;
    }
    
    .page-book .appNavigator .button.kaufen {
        margin-left: 40px;
        margin-top: 20px
    }

    .page-book .appNavigator .button.leseproben{
        margin-left: 0px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 480px) {
    
    body {
        font-weight: normal;
    }
    
    .fourCol,
    .threeCol,
    .twoCol,
    .onecol {
        width: 100%;
    }
    
    .heading {
        font-size: 1.4em;
    }
    
    .fullText {
        text-align: left;
    
        width: 100% !important;
        margin: 0px auto 25px 0% !important;
}
    
    .wrapper {
        background: #e0f0f0; /* Old browsers */
        background: -moz-linear-gradient(top,  #e0f0f0 0%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f0f0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e0f0f0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e0f0f0 0%,#ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e0f0f0 0%,#ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e0f0f0 0%,#ffffff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f0f0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    .content {
        width: 90%;
        margin: 0px 5%;
    }

    .page-book .bookDetails {
    margin:0; 
    }

    .claimHeader {
        display: none;
    }

    .book.button {
        opacity: 1;
        position: relative;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0px;
        height: auto;
        margin-top: 20px;
    }
    .header {
        color: #931115;
        width: 90%;
        height: auto;
        padding: 0px 5%;
        margin-top: 20px;
        text-transform: uppercase;
        line-height: 2em;
        text-align: center;
    }

    .header h1 {
        display: block;
        margin: 0px;
    }

    .titleMainBlock {
        font-size: 180%;
        width: 100%;
        clear: both;
        display: block;
        line-height: 1em;
    }
    
    .bookCover {
        display: none;
    }
    
    .appNavigator {
        width: 100%;
        float: left;
    }
    
    .appNavigator .button {
        background: #2E8584  !important;
        margin: 0px 0px 10px 0px !important;
        padding: 0px !important;
        color: #fff  !important;
        line-height: 1.5em  !important;
        float: left  !important;
        clear: both  !important;
    
        width: 100%  !important;
        height: auto !important;
}
    .sharebtn {
        width: 90% !important;
    }
    
    .button.trailer {
        display: none;
    }
    
    .page-book .textColumn {
        width: 100%;
    }
    
    .antwort-text {
        font-size: 0.9em;
        float: left;
        width: 70%;
    
        margin-bottom: 20px;
}
    
    .page-quiz .newboxes {
        margin-left: 0px !important;
    }
    
    .page-quiz .newboxes .frage {
        margin-top: 0px !important;
        float: left;
    }
    
    .page-quiz .newboxes .submitAnswer {
        margin-left: 0px !important;
    }
    
    .page-quiz .newboxes .arrowTool {
        margin-left: -10px !important;
    }
    
    #teilnahme {
        margin-top: 0px;
    
    }
    
    #teilnahmebox .close {
        width: 94%;
        margin: 10px 2%;
        text-align: center;
    }
    
}

 