.quiz{
    float: left;
    width: 90%;
    height: 80%;
    margin-top: 0px;
}

.page-quiz .newboxes {
    margin-left: 100px;
}

.page-quiz .newboxes .frage {
    margin-top: 180px;
    float: left;
}

.page-quiz .newboxes .antwort {
    width: 100%;
    margin-bottom: 20px;
}

.page-quiz .newboxes .antwort label {
    cursor: pointer;
}

.page-quiz .newboxes .radioArrow {
    display: none;
}

.page-quiz .newboxes .antwort .radioArrow:checked + label .arrowTool {
    background: url(../images/answerCheckSprite.png) 0px 0px no-repeat;
}

.page-quiz .newboxes .arrowTool {
    background: url(../images/answerCheckSprite.png) 0px -72px no-repeat;
    display: block;
    width: 55px;
    height: 70px;
    float: left;
    margin: -14px 10px 10px -70px;
}

.page-quiz .newboxes .submitAnswer {
    background: url(../images/button_weiter.png);
    width: 168px;
    height: 33px;
    overflow: hidden;
    padding-top: 30px;
    margin-left: 180px;
    margin-top: 50px;
}

.page-quiz .bookCover {
    position: absolute;
    left: 570px;
    top: 0px;
    margin-top: 20px;
    width: 200px;
}

.quizResult {
    float: left;
    margin-top: 60px;
}