/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

body {
	font-family: 'EB Garamond', serif !important;
	color: #4d4d4d;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'EB Garamond', serif !important;
	color: #a56c77;
	letter-spacing: 1px;
}

p {
	font-size: 1.35em;
	line-height: 1.5em;
}

.content .heading {
	text-transform: uppercase;
	font-size: 2.2em;
}

.highlight {
	font-weight: bolder;
	color: #a56c77;
}

.container.fangate {
	background: url(../images/fangate.jpg) 0px 0px no-repeat;
	height: 1100px;
	width: 808px;
}

.container {
	background: url(../images/background.jpg) 0px 0px no-repeat;
	height: 1100px;
	text-align: center;
	padding-top: 15px;
}

.mainNav ul {
	width: 100%;
}

.mainNav li {
	float: left;
}

.mainNav li a:link,
.mainNav li a:visited {
	display: block;
	height: 72px;
	overflow: hidden;
	line-height: 13em;
}

.mainNav li.gewinnspielBtn a {
	background: url(../images/nav_gewinnspiel.png) center 0px no-repeat;
}

.mainNav li.buchBtn a {
	background: url(../images/nav_buch.png) center 0px no-repeat;
}

.mainNav li a:hover,
.mainNav li a.active {
	background-position: center -89px;
}

.mainNav ul li:last-child {
	float: right;
}

.tablet-content,
.phone-content {
	display: none !important;
}

.desktop-content {
	display: block !important;
}

.heading1 {
	margin-top: 60px;
	margin-bottom: 40px;
}

.introText {
	margin-bottom: 40px;
}

.container.impressum {
	background: none;
	height: auto;
	font-size: 0.8em;
	padding: 0;
	margin: 0 auto;
}

#teilnahmebox {
	position: absolute;
	width: 94%;
	left: 3%;
	top: 10px;
	border-radius: 10px;
	opacity: 0.9;
	color: white;
	display: none;
	background: black;
	height: auto;
	text-align: left;
	font-size: 0.9em;
	z-index: 300;
}

#teilnahmebox > * {
	width: 94%;
	margin: 10px 3%;
}

#teilnahmebox .close {
	background: #fff;
	color: #000;
	width: auto;
	float: right;
	padding: 5px 10px;
	border-radius: 3px;
	font-weight: bolder;
	cursor: pointer;
}

/* #Page Styles
================================================== */

/* GAME (home) PAGE */

.home-page .content,
.mailform-page .content {
	background:  url(../images/background_text_gewinnspiel.png) 88% top no-repeat;
	padding-top: 30px;
	height: 500px
}

.home-page .content > *,
.mailform-page .content > * {
	width: 80%;
	padding: 0 10%;
}

.mailform-page .content form {
    text-align: left;
}

.mailform-page .content form input[type="text"] {
    width: 100%;
    margin-bottom: 5px;
}

.mailform-page .content form #regFormSubmit {
	float: right;
}

.mailform-page .content .error {
	position: absolute;
	width: 50%;
	padding: 20px 5%;
	left: 20%;
	background: #fff;
	top: 300px;
	text-align: left;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #666;
}

.navMenu.bottomNav {
	margin-top: 90px;
}

.home-page .navMenu.bottomNav li.teilen {
	float: right !important;
}

.navMenu.bottomNav li a:link, 
.navMenu.bottomNav li a:visited {
	display: block;
	width: 100%;
	height: 55px;
	overflow: hidden;
	line-height: 13em;
}

.navMenu.bottomNav .mitmachen a {
	background: url(../images/button_mitmachen.png) 50% top no-repeat;
}

.navMenu.bottomNav .teilen a {
	background: url(../images/button_share.png) 50% top no-repeat;
}

/* BOOK PAGE */

.book-page .secNav li {
	position: absolute;
	top: 33%;
	width: 170px;
}

.book-page .secNav li a:link,
.book-page .secNav li a:visited {
	display: block;
	width: 100%;
	height: 85px;	
	overflow: hidden;
	line-height: 13em;
}

.book-page .secNav li.left {
	left: 15%;
}

.book-page .secNav li.right {
	right: 15%;
}

.book-page .secNav li:nth-child(2),
.book-page .secNav li:nth-child(5) {
	margin-top: 10%;
}

.book-page .secNav li:nth-child(3),
.book-page .secNav li:nth-child(6) {
	margin-top: 22%;
}

.book-page .secNav li.hoerprobe a {
	background: url(../images/button_hoerprobe.png) 50% 50% no-repeat;
}
.book-page .secNav li.hoerbuch a {
	background: url(../images/button_hoerbuch.png) 50% 50% no-repeat;
}
.book-page .secNav li.download-hoerbuch a {
	background: url(../images/button_download.png) 50% 50% no-repeat;
}
.book-page .secNav li.leseprobe a {
	background: url(../images/button_leseprobe.png) 50% 50% no-repeat;
}
.book-page .secNav li.buch a {
	background: url(../images/button_buch.png) 50% 50% no-repeat;
}
.book-page .secNav li.e-book a {
	background: url(../images/button_ebook.png) 50% 50% no-repeat;
}

.book-page .content {
	background: url(../images/background_text.png) 88% 0px no-repeat;
	margin-top: 100px;
	height: 715px;
	margin-bottom: 20px;
}

.book-page .content .mainText {
	width: 80%;
	padding: 0 10%;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
}

.book-page .bookCover {
margin-top: -10%;
width: 40%;
margin-left: 33%;
}

.book-page .bottomNav {
	float: left;
	width: 100%;
	margin-top: 0px;
}

.book-page .bottomNav li {
	float: none;
}
.book-page .bottomNav li.teilen a {
	display: block;
	background: url(../images/button_share.png) 50% top no-repeat;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to 785px (project related fix) */
	@media only screen and (min-width: 768px) and (max-width: 785px) {
		.container {
			width: 100%;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		.home-page .content {
			margin-left: 4%;
		}

		.home-page .content > * {
			margin-left: -3.7% !important;
		}

		.book-page .content {
			margin-left: 4%;
		}

		.book-page .bookCover {
			margin-left: 30%;
		}

		.book-page .secNav li.left {
			left: 12%;
		}

		.book-page .secNav li.right {
			right: 12%;
		}

		.book-page .content .mainText {
			width: 90%;
			padding: 0 5%;
			margin-left: -3%;
		}

		.book-page .bottomNav {
			margin-left: -4%;
		}

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

			.desktop-content,
			.phone-content {
				display: none !important;

			}

			.tablet-content {
				display: block !important;
			}

			.container {
				height: auto;
			}

			.heading1 {
				margin-bottom: 30px !important;
			}

			.mainNav .navMenu li {
				background: none;
				width: 50% !important;
			}
			
			.book-page .navMenu li {
				width: 100%;
			}

			.mainNav li a:link,
			.mainNav li a:visited {
				height: 36px;
			}

			.mainNav li.buchBtn a {
				background: url(../images/nav_buch_mobile.png) center 0px no-repeat;
			}

			.mainNav li.gewinnspielBtn a {
				background: url(../images/nav_gewinnspiel_mobile.png) center 0px no-repeat;
			}

			.mainNav li a:hover,
			.mainNav li a.active {
					background-position: center -66px;
			}

			.navMenu li a:link,
			.navMenu li a:visited {
			display: block;
			width: 90%;
			margin-left: 5%;
			margin-bottom: 10px;
			padding: 5px 0px;
			border-radius: 5px;
			}

			.introtext {
				width: 90% !important;
				margin: 40px 5% !important;	
			}

			.book-page .content {
			margin-top: 10px;
			}

			.book-page .bookCover {
				margin-top: 25px !important;
			}	

			.book-page .secNav {
				display: none !important;
			}


			.navMenu.bottomNav {
				margin-top: 0px;
				padding: 0;
			}

			.navMenu.bottomNav li a:link, 
			.navMenu.bottomNav li a:visited {
				height: auto;
				line-height: 1em;
				background: #fff;
				text-decoration: none;
				font-variant: small-caps;
				font-size: 1.2em;
				display: block;
				width: 90%;
				margin-left: 5%;
				margin-bottom: 10px;
				padding: 5px 0px;
				border-radius: 5px;
			}

			.navMenu.bottomNav li.teilen {
				width: 100% !important;
			}

	}

	/* mobile portrait size to mobile landscape size (devices and browsers) */
	@media only screen and (max-width: 479px) {

			.container {
				background: #f3e7d1; /* old browsers */
				background: -moz-linear-gradient(top,  #f3e7d1 0%, #eeebe1 100%); /* ff3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e7d1), color-stop(100%,#eeebe1)); /* chrome,safari4+ */
				background: -webkit-linear-gradient(top,  #f3e7d1 0%,#eeebe1 100%); /* chrome10+,safari5.1+ */
				background: -o-linear-gradient(top,  #f3e7d1 0%,#eeebe1 100%); /* opera 11.10+ */
				background: -ms-linear-gradient(top,  #f3e7d1 0%,#eeebe1 100%); /* ie10+ */
				background: linear-gradient(to bottom,  #f3e7d1 0%,#eeebe1 100%); /* w3c */
				filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#f3e7d1', endcolorstr='#eeebe1',gradienttype=0 ); /* ie6-9 */
				height: auto;
			}	

			.desktop-content,
		        .tablet-content	{
				display: none !important;
			}

			.phone-content {
				display: block !important;
			}
			
			.heading1 {
				margin-bottom: 15px !important;
			}

			.content {
				background: none !important;
				padding-top: 0px !important;
				height: auto !important;
			}

			.navmenu li {
				background: none;
			}

			.navmenu.phone-content {
				margin-top: 20px;
				float: left;
			}

			.book-page .content {
				margin-top: 50px;
			}
			
			.book-page .bookcover {
				width: 90%;
				margin-left: 5%;
			}

			.navMenu.bottomNav {
				float: left;
				padding: 0;
				width: 100%;
			}


			.navMenu.bottomNav li a:link, 
			.navMenu.bottomNav li a:visited {
				height: auto;
				line-height: 1em;
				background: #fff;
				text-decoration: none;
				font-variant: small-caps;
				font-size: 1.2em;
				display: block;
				width: 90%;
				margin-left: 5%;
				margin-bottom: 10px;
				padding: 5px 0px;
				border-radius: 5px;
			}

			.navMenu li a:link,
			.book-page .bottonNav li a:visited {
				background: #fff;
				text-decoration: none;
				font-variant: small-caps;
				font-size: 1.2em;
				display: block;
				width: 90%;
				margin-left: 5%;
				margin-bottom: 10px;
				padding: 5px 0px;
				border-radius: 5px;
				}
				
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
