/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

body {
	font-family: 'EB Garamond', serif !important;
	color: #4d4d4d;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'EB Garamond', serif !important;
	color: #a56c77;
	letter-spacing: 1px;
}

p {
	font-size: 1.35em;
}

.content .heading {
	text-transform: uppercase;
	font-size: 2.2em;
}

.highlight {
	font-weight: bolder;
	color: #a56c77;
}

.container {
	background: url(../images/background.jpg) 0px 0px no-repeat;
	height: 1100px;
	text-align: center;
	padding-top: 15px;
}

.mainNav ul {
	width: 100%;
}

.mainNav li {
	float: left;
}

.mainNav li a:link,
.mainNav li a:visited {
	display: block;
	height: 72px;
	overflow: hidden;
	line-height: 13em;
}

.mainNav li.gewinnspielBtn a {
	background: url(../images/nav_gewinnspiel.png) center 0px no-repeat;
}

.mainNav li.buchBtn a {
	background: url(../images/nav_buch.png) center 0px no-repeat;
}

.mainNav li a:hover,
.mainNav li a.active {
	background-position: center -89px;
}

.mainNav ul li:last-child {
	float: right;
}

.tablet-content,
.phone-content {
	display: none !important;
}

.desktop-content {
	display: block !important;
}

.heading {
}

/* #Page Styles
================================================== */

/* BOOK PAGE */


.book-page .secNav li {
position: absolute;
top: 45%;
width: 150px;
}

.book-page .secNav li.left {
left: 10%;
}

.book-page .secNav li.right {
}

.book-page .secNav li:nth-child(1) {
}

.book-page .secNav li:nth-child(2) {
margin-top: 40px;
}

.book-page .secNav li:nth-child(3) {
margin-top: 80px;
}

.book-page .secNav li:nth-child(4) {
right: 10%;
}

.book-page .secNav li:nth-child(5) {
right: 10%;
margin-top: 40px;
}

.book-page .secNav li:nth-child(6) {
right: 10%;
margin-top: 80px;
}

.book-page .content {
	margin-top: 100px;
	margin-bottom: 20px;
}

.book-page .bookCover {
margin-top: -10%;
width: 40%;
margin-left: 30%;
}

.book-page .bottomNav {
}

.book-page .bottomNav li {
	float: none;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

			.desktop-content,
			.phone-content {
				display: none !important;

			}

			.tablet-content {
				display: block !important;
			}

			.container {
				min-height: 800px;
				height: auto;
			}

			.navMenu li {
				background: none;
				width: 50% !important;
			}

			.mainNav li a:link,
			.mainNav li a:visited {
				height: 36px;
			}

			.mainNav li.buchBtn a {
				background: url(../images/nav_buch_mobile.png) center 0px no-repeat;
			}

			.mainNav li.gewinnspielBtn a {
				background: url(../images/nav_gewinnspiel_mobile.png) center 0px no-repeat;
			}

			.mainNav li a:hover,
			.mainNav li a.active {
					background-position: center -66px;
			}

			.navMenu li a:link,
			.navMenu li a:visited {
			display: block;
			width: 90%;
			margin-left: 5%;
			margin-bottom: 10px;
			padding: 5px 0px;
			border-radius: 5px;
			}

			.book-page .content {
			margin-top: 10px;
			}

			.book-page .bookCover {
			width: 100% !important;
			margin-top: 0 !important;
			margin-left: 0;
			}	

			.book-page .secNav li {
				position: relative;
				margin: 0 !important;
				padding: 0;
				float: left;
				left: 0 !important;
				width: 100%;
			}


	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

			.container {
				background: #f3e7d1; /* Old browsers */
				background: -moz-linear-gradient(top,  #f3e7d1 0%, #eeebe1 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e7d1), color-stop(100%,#eeebe1)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #f3e7d1 0%,#eeebe1 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #f3e7d1 0%,#eeebe1 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #f3e7d1 0%,#eeebe1 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #f3e7d1 0%,#eeebe1 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e7d1', endColorstr='#eeebe1',GradientType=0 ); /* IE6-9 */
				height: auto;
			}	

			.desktop-content,
		        .tablet-content	{
				display: none !important;
			}

			.phone-content {
				display: block !important;
			}
			.navMenu li {
				background: none;
			}

			.navMenu.phone-content {
				margin-top: 20px;
				float: left;
			}

			.book-page .content {
				margin-top: 50px;
			}
			
			.book-page .bookCover {
				width: 90%;
				margin-left: 5%;
			}

			.navMenu li a:link,
			.book-page .bottonNav li a:visited {
				background: #fff;
				text-decoration: none;
				font-variant: small-caps;
				font-size: 1.2em;
				display: block;
				width: 90%;
				margin-left: 5%;
				margin-bottom: 10px;
				padding: 5px 0px;
				border-radius: 5px;
				}
				
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
