/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	background: #e5e5e5;
}

.container {
	background: #fff;
	text-align: center;
	padding-top: 15px;
}

.mainNav ul {
	width: 100%;
}

.navMenu li {
	float: left;
	background: #e5e5e5;
}

.mainNav ul li:last-child {
	float: right;
}

.tablet-content,
.phone-content {
	display: none;
}

.desktop-content {
	display: block !important;
}

.heading {
}

/* #Page Styles
================================================== */

/* BOOK PAGE */


.book-page .secNav li {
position: absolute;
top: 45%;
width: 150px;
}

.book-page .secNav li.left {
left: 10%;
}

.book-page .secNav li.right {
}


.book-page .secNav li:nth-child(1) {
}

.book-page .secNav li:nth-child(2) {
margin-top: 40px;
}

.book-page .secNav li:nth-child(3) {
margin-top: 80px;
}

.book-page .secNav li:nth-child(4) {
right: 10%;
}

.book-page .secNav li:nth-child(5) {
right: 10%;
margin-top: 40px;
}

.book-page .secNav li:nth-child(6) {
right: 10%;
margin-top: 80px;
}

.book-page .content {
	margin-top: 100px;
	margin-bottom: 20px;
}

.book-page .bookCover {
margin-top: -10%;
width: 40%;
margin-left: 30%;
}

.book-page .bottomNav {
}

.book-page .bottomNav li {
	float: none;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

			.desktop-content,
			.phone-content {
				display: none !important;

			}

			.tablet-content {
				display: block !important;
			}

			.navMenu li {
				background: none;
			}

			.navMenu li a:link,
			.navMenu li a:visited {
			background: #e5e5e5;
			display: block;
			width: 90%;
			margin-left: 5%;
			margin-bottom: 10px;
			padding: 5px 0px;
			border-radius: 5px;
			}

			.book-page .content {
			margin-top: 10px;
			}

			.book-page .bookCover {
			width: 100% !important;
			margin-top: 0 !important;
			margin-left: 0;
			}	

			.book-page .secNav li {
				position: relative;
				margin: 0 !important;
				padding: 0;
				float: left;
				left: 0 !important;
				width: 100%;
			}


	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

			.desktop-content,
		        .tablet-content	{
				display: none !important;
			}

			.phone-content {
				display: block !important;
			}
			.navMenu li {
				background: none;
			}

			.book-page .content {
				margin-top: 50px;
			}
			
			.book-page .bookCover {
				width: 90%;
				margin-left: 5%;
			}

			.navMenu li a:link,
			.book-page .bottonNav li a:visited {
				background: #e5e5e5;
				display: block;
				width: 90%;
				margin-left: 5%;
				margin-bottom: 10px;
				padding: 5px 0px;
				border-radius: 5px;
				}
				
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
