/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 810 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 810 Grid
================================================== */

    .container                                  { position: relative; width: 810px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 1%; margin-right: 1%; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width:  4.1%;  }
    .container .two.columns                     { width: 10.4%; }
    .container .three.columns                   { width: 16.6%; }
    .container .four.columns                    { width: 22.9%; }
    .container .five.columns                    { width: 29.1%; }
    .container .six.columns                     { width: 35.4%; }
    .container .seven.columns                   { width: 41.6%; } 
    .container .eight.columns                   { width: 47.9%; }
    .container .nine.columns                    { width: 54.1%; }
    .container .ten.columns                     { width: 60.4%; }
    .container .eleven.columns                  { width: 66.6%; }
    .container .twelve.columns                  { width: 72.9%; }
    .container .thirteen.columns                { width: 79.1%; }
    .container .fourteen.columns                { width: 85.4%; }
    .container .fifteen.columns                 { width: 91.6%; }
    .container .sixteen.columns                 { width: 97.9%; }

    .container .one-third.column                { width: 31.2%; }
    .container .two-thirds.column               { width: 64.5%; }

    /* Offsets */
    .container .offset-by-one                   { padding-left:  6.2%; }
    .container .offset-by-two                   { padding-left: 12.5%; }
    .container .offset-by-three                 { padding-left: 18.7%; }
    .container .offset-by-four                  { padding-left: 25%;   }
    .container .offset-by-five                  { padding-left: 31.2%; }
    .container .offset-by-six                   { padding-left: 37.5%; }
    .container .offset-by-seven                 { padding-left: 43.7%; }
    .container .offset-by-eight                 { padding-left: 50%;   }
    .container .offset-by-nine                  { padding-left: 56.2%; }
    .container .offset-by-ten                   { padding-left: 62.5%; }
    .container .offset-by-eleven                { padding-left: 68.7%; }
    .container .offset-by-twelve                { padding-left: 75%;   }
    .container .offset-by-thirteen              { padding-left: 81.2%; }
    .container .offset-by-fourteen              { padding-left: 87.5%; }
    .container .offset-by-fifteen               { padding-left: 93.7%; }

/* #Facebook tab optimization
================================================= */

    @media only screen and (min-width: 809px) and (max-width: 811px) {
	    .container				{ width: 100% !important; }
    }

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 1.3%; margin-right: 1.3%;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 1.3%; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 1.3%; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width:  3.6%; }
        .container .two.columns                     { width:  9.8%; }
        .container .three.columns                   { width: 16.1%; }
        .container .four.columns                    { width: 22.3%; }
        .container .five.columns                    { width: 28.6%; }
        .container .six.columns                     { width: 34.8%; }
        .container .seven.columns                   { width: 41.1%; }
        .container .eight.columns                   { width: 47.3%; }
        .container .nine.columns                    { width: 53.6%; }
        .container .ten.columns                     { width: 59.8%; }
        .container .eleven.columns                  { width: 66.1%; }
        .container .twelve.columns                  { width: 72.3%; }
        .container .thirteen.columns                { width: 78.6%; }
        .container .fourteen.columns                { width: 84.8%; }
        .container .fifteen.columns                 { width: 91.1%; }
        .container .sixteen.columns                 { width: 97.3%; }

        .container .one-third.column                { width: 30.7%; }
        .container .two-thirds.column               { width:   64%; }

        /* Offsets */
        .container .offset-by-one                   { padding-left:  6.2%; }
        .container .offset-by-two                   { padding-left: 12.5%; }
        .container .offset-by-three                 { padding-left: 18.7%; }
        .container .offset-by-four                  { padding-left:   25%; }
        .container .offset-by-five                  { padding-left: 31.2%; }
        .container .offset-by-six                   { padding-left: 37.5%; }
        .container .offset-by-seven                 { padding-left: 43.7%; }
        .container .offset-by-eight                 { padding-left:   50%; }
        .container .offset-by-nine                  { padding-left: 56.2%; }
        .container .offset-by-ten                   { padding-left: 62.5%; }
        .container .offset-by-eleven                { padding-left: 68.7%; }
        .container .offset-by-twelve                { padding-left:   75%; }
        .container .offset-by-thirteen              { padding-left: 81.2%; }
        .container .offset-by-fourteen              { padding-left: 87.5%; }
        .container .offset-by-fifteen               { padding-left: 93.7%; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 100%; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 100%; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
